/* Overall Styles */
body.darktxt-enabled a {
    /* Force links to be visible if the theme does not change their color */
    text-decoration: underline;
}
@-moz-document domain("wikipedia.org") {
    /* Corrections for Wikipedia, especially PNG math */
    body.darktxt-enabled div.body ul li a,
    body.darktxt-enabled .vectorTabs a {
	text-decoration: none;
    }
    body.darktxt-enabled h2 {
	background: black !important;
	border: 0px !important;
    }
}
@-moz-document domain("youtube.com") {
    /* Corrections for YouTube */
    body.darktxt-enabled .ytp-gradient-bottom {
	/* This gradient obstructs the video on mouseover */
	display: none;
    }
}

/* Corrections for math on MediaWiki instances */
body.darktxt-enabled img.mwe-math-fallback-image-inline {
    background: white;
    filter: invert(100);
}


/* Black Backgrounds */
body.darktxt-whiteblack,
body.darktxt-whiteblack * {
    background: black;
    color: white;
}
body.darktxt-whiteblack a {
    color: #858585;
    text-decoration: none;
}

body.darktxt-greenblack,
body.darktxt-greenblack * {
    background: black;
    color: rgb(0,255,0);
}
body.darktxt-pinkblack,
body.darktxt-pinkblack * {
    background: black;
    color: rgb(255, 49, 85);
}
body.darktxt-yellowblack,
body.darktxt-yellowblack * {
    background: black;
    color: yellow;
}
body.darktxt-redblack,
body.darktxt-redblack * {
    background: black;
    color: red;
}

/* Gray Backgrounds */
body.darktxt-whitegray,
body.darktxt-whitegray * {
    background: #202020;
    color: white;
}